@import "src/assets/scss/base/base.scss";

.formWithdraw {
    padding-top: 140px;
    color: $new-text-color-white;

    .container {
        @include container;

        .formWithdrawContent {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 30px;

            @media screen and (max-width:768px) {
                flex-direction: column;
            }

            .left {
                max-width: 450px;
                padding: 15px;
                background: $new-background-level-1;
                box-shadow: 0 10px 28px $boxShadown-color-3;
                border-radius: 20px;

                @media screen and (max-width: 576px) {
                    max-width: 450px;
                    width: 100%;
                }

                @media screen and (min-width: 480px) {
                    padding: 30px;
                }

                .header {
                    margin-bottom: 30px;
                    display: flex;

                    span {
                        margin-right: 30px;
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 15px;
                        color: $new-text-color-6;
                        cursor: default;
                    }
                }

                .wallet {
                    .withdraw-type {
                        margin-bottom: 30px;

                        .withdraw-type-items {
                            padding: 10px;
                            background: $new-background-4;
                            color: $new-text-color-white;
                            font-size: 12px;
                            border-radius: 4px;
                            margin-right: 10px;
                            cursor: pointer;

                            &.active {
                                background-color: $new-primary-color-6;
                            }
                        }
                    }

                    .input {
                        margin-bottom: 15px;
                        position: relative;

                        p {
                            font-size: 16px;
                            color: $new-text-color-white;
                            margin-bottom: 15px;
                        }

                        .list-tag {
                            position: absolute;
                            display: flex;
                            justify-content: flex-end;
                            top: 41px;
                            width: auto;
                            right: -6px;
                            gap: 5px;
                            padding: 0 10px;
                            align-items: center;
                            height: 33px;

                            span {
                                color: $new-text-color-white;
                                position: relative;
                                top: 1px;

                                &:last-child {
                                    margin-left: 3px;
                                    margin-right: -4px;
                                    border-top-right-radius: 8px;
                                    border-bottom-right-radius: 8px;
                                    background-color: $neutral-10;
                                    height: 35px;
                                    padding: 6px;
                                    font-weight: 600;
                                    user-select: none;

                                    &.active {
                                        background-color: $new-primary-color-6;
                                        font-weight: 600;
                                    }

                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }

                    .max-available {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        word-break: break-word;
                        color: $new-primary-background-6;

                        span {
                            &:first-child {
                                font-size: 16px;
                            }

                            &:last-child {
                                font-weight: 500;
                                font-size: 16px;
                            }
                        }
                    }

                    .list-notify {
                        list-style: none;
                        margin-top: 40px;

                        .notify-item {
                            margin-top: 10px;
                            font-size: 14px;
                            color: $new-text-color-white;
                            display: flex;

                            span {
                                margin-right: 10px;
                            }

                            p {
                                font-weight: 500;
                            }
                        }
                    }

                    .button-submit-container {
                        margin-top: 10px;
                        text-align: center;

                        button {
                            width: 100%;
                        }
                    }
                }
            }

            .right {
                max-width: 450px;
                padding: 15px;
                background: $new-background-level-1;
                box-shadow: 0 10px 28px $boxShadown-color-3;
                border-radius: 20px;

                @media screen and (max-width: 576px) {
                    max-width: 450px;
                    width: 100%;
                }

                @media screen and (min-width: 480px) {
                    padding: 30px;
                }

                .formWithdraw__title {
                    font-weight: 500;
                    color: $new-primary-color-8;
                    margin-bottom: 25px;
                    font-size: 1.5em;
                    text-transform: capitalize;
                }

                .formWithdraw__Wallet-list {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .formWithdraw__Wallet-item {
                        box-shadow: 0 10px 20px 0 $boxShadown-color-4;
                        border-radius: 5px;

                        .formWithdraw__Wallet-header {
                            padding: 10px 10px 5px 10px;
                            background-color: $neutral-2;
                            width: 100%;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            color: $neutral-20;
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }

                        .formWithdraw__Wallet-body {
                            padding: 5px 10px 10px 10px;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            color: $new-text-color-white;
                            background-color: $new-background-level-2;

                            .formWithdraw__Wallet-body__pending {
                                color: $new-primary-color-6;
                                font-weight: bold;
                            }

                            .formWithdraw__Wallet-body__success {
                                color: $green;
                                font-weight: bold;
                            }

                            .formWithdraw__Wallet-body__reject {
                                color: $red;
                                font-weight: bold;
                            }

                            .formWithdraw__Wallet-body-amount {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                gap: 5px;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }

                            .formWithdraw__Wallet-address {
                                word-break: break-all;
                            }
                        }
                    }
                }

                .paging {
                    margin-top: 20px;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}