.editPermistionContent {
	margin-top: 20px;

	.editPermistionContent__row {
		display: flex;
		gap: 10px;
		margin-bottom: 20px;


		@media screen and (max-width: 786px) {
			flex-direction: column;
		}

		label {
			width: 100px;
		}
	}
}