.d-flex {
    display: flex;
}

.f-c {
    flex-direction: column;
}

.f-w {
    flex-wrap: wrap;
}

.alignItem-c {
    align-items: center;
}

.alignItem-start {
    align-items: center;
}

.justify-c {
    justify-content: center;
}

.justify-sb {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.order--1 {
    order: -1;
}

.gap-1 {
    gap: $space * 1;
}

.gap-2 {
    gap: $space * 2;
}


@each $breakpoint, $width in $responsive {
    @media screen and (max-width: $width) {
        .d-#{$breakpoint}-flex {
            display: flex;
        }

        .f-#{$breakpoint}-c {
            flex-direction: column;
        }

        .f-#{$breakpoint}-w {
            flex-wrap: wrap;
        }

        .alignItem-#{$breakpoint}-c {
            align-items: center;
        }

        .alignItem-#{$breakpoint}-start {
            align-items: flex-start;
        }

        .justify-#{$breakpoint}-c {
            justify-content: center;
        }

        .justify-#{$breakpoint}-sb {
            justify-content: space-between;
        }

        .justify-#{$breakpoint}-start {
            justify-content: flex-start;
        }

        .justify-#{$breakpoint}-end {
            justify-content: flex-end;
        }

        .order-#{$breakpoint}--1 {
            order: -1;
        }

        .gap-#{$breakpoint}-1 {
            gap: $space * 1;
        }

        .gap-#{$breakpoint}-2 {
            gap: $space * 2;
        }
    }
}

// @media screen and (max-width:576px) {
//     .d-sm-flex {
//         display: flex;
//     }

//     .alignItem-sm-c {
//         align-items: center;
//     }

//     .justify-sm-c {
//         justify-content: center;
//     }

//     .order-sm--1 {
//         order: -1;
//     }
// }

// @media screen and (max-width:768px) {
//     .d-md-flex {
//         display: flex;
//     }

//     .alignItem-md-c {
//         align-items: center;
//     }

//     .justify-md-c {
//         justify-content: center;
//     }

//     .order-md--1 {
//         order: -1;
//     }
// }

// @media screen and (max-width:992px) {
//     .d-lg-flex {
//         display: flex;
//     }

//     .alignItem-lg-c {
//         align-items: center;
//     }

//     .justify-lg-c {
//         justify-content: center;
//     }

//     .order-lg--1 {
//         order: -1;
//     }
// }

// @media screen and (max-width:1200px) {
//     .d-xl-flex {
//         display: flex;
//     }

//     .alignItem-xl-c {
//         align-items: center;
//     }

//     .justify-xl-c {
//         justify-content: center;
//     }

//     .order-xl--1 {
//         order: -1;
//     }
// }

// @media screen and (max-width:1400px) {
//     .d-xxl-flex {
//         display: flex;
//     }

//     .alignItem-xxl-c {
//         align-items: center;
//     }

//     .justify-xxl-c {
//         justify-content: center;
//     }

//     .order-xxl--1 {
//         order: -1;
//     }
// }