.m-0 {
    margin: 0;
}

.m-1 {
    margin: $space;
}

.m-2 {
    margin: $space * 2;
}

.mt-1 {
    margin-top: $space * 1;
}

.mt-2 {
    margin-top: $space * 2;
}

.mt-3 {
    margin-top: $space * 3;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: $space * 1;
}

.mb-2 {
    margin-bottom: $space * 2;
}

.mb-3 {
    margin-bottom: $space * 3;
}

.mb-4 {
    margin-bottom: $space * 4;
}

.ml-a {
    margin-left: auto;
}

.ml-0 {
    margin-left: 0;
}

.ml-2 {
    margin-left: $space * 2;
}


@each $breakpoint, $width in $responsive {
    @media screen and (max-width: $width) {
        .m-#{$breakpoint}-0 {
            margin: 0;
        }

        .m-#{$breakpoint}-1 {
            margin: $space;
        }

        .mt-#{$breakpoint}-1 {
            margin-top: $space * 1;
        }

        .mt-#{$breakpoint}-2 {
            margin-top: $space * 2;
        }

        .mt-#{$breakpoint}-3 {
            margin-top: $space * 3;
        }

        .mb-#{$breakpoint}-0 {
            margin-bottom: 0;
        }

        .mb-#{$breakpoint}-1 {
            margin-bottom: $space * 1;
        }

        .mb-#{$breakpoint}-2 {
            margin-bottom: $space * 2;
        }

        .mb-#{$breakpoint}-3 {
            margin-bottom: $space * 3;
        }

        .ml-#{$breakpoint}-a {
            margin-left: auto;
        }

        .ml-#{$breakpoint}-0 {
            margin-left: 0;
        }

        .ml-#{$breakpoint}-2 {
            margin-left: $space * 2;
        }
    }
}

// @media screen and (max-width:576px) {
//     .m-sm-0 {
//         margin: 0;
//     }

//     .m-sm-1 {
//         margin: $space;
//     }

//     .mt-sm-3 {
//         margin-top: $space * 3;
//     }

//     .mb-sm-0 {
//         margin-bottom: 0;
//     }

//     .ml-sm-a {
//         margin-left: auto;
//     }
// }

// @media screen and (max-width:768px) {
//     .m-md-0 {
//         margin: 0;
//     }

//     .m-md-1 {
//         margin: $space;
//     }

//     .mt-md-3 {
//         margin-top: $space * 3;
//     }

//     .mb-md-0 {
//         margin-bottom: 0;
//     }

//     .ml-md-a {
//         margin-left: auto;
//     }
// }

// @media screen and (max-width:992px) {
//     .m-lg-0 {
//         margin: 0;
//     }

//     .m-lg-1 {
//         margin: $space;
//     }

//     .mt-lg-3 {
//         margin-top: $space * 3;
//     }

//     .mb-lg-0 {
//         margin-bottom: 0;
//     }

//     .ml-lg-a {
//         margin-left: auto;
//     }
// }

// @media screen and (max-width:1200px) {
//     .m-xl-0 {
//         margin: 0;
//     }

//     .m-xl-1 {
//         margin: $space;
//     }

//     .mt-xl-3 {
//         margin-top: $space * 3;
//     }

//     .mb-xl-0 {
//         margin-bottom: 0;
//     }

//     .ml-xl-a {
//         margin-left: auto;
//     }
// }

// @media screen and (max-width:1400px) {
//     .m-xxl-0 {
//         margin: 0;
//     }

//     .m-xl-1 {
//         margin: $space;
//     }

//     .mt-xxl-3 {
//         margin-top: $space * 3;
//     }

//     .mb-xxl-0 {
//         margin-bottom: 0;
//     }

//     .ml-xxl-a {
//         margin-left: auto;
//     }
// }