.ta-r {
    text-align: right;
}

@media screen and (max-width: 576px) {
    .ta-sm-r {
        text-align: right;
    }
}

@media screen and (max-width: 768px) {
    .ta-md-r {
        text-align: right;
    }
}

@media screen and (max-width: 992px) {
    .ta-lg-r {
        text-align: right;
    }
}

@media screen and (max-width: 1200px) {
    .ta-xl-r {
        text-align: right;
    }
}

@media screen and (max-width: 1400px) {
    .ta-xxl-r {
        text-align: right;
    }
}