@import "src/assets/scss/base/base.scss";
@import "src/assets/scss/style.scss";

.walletAdmin {
    color: $new-text-color-white;

    .walletAdmin__header {
        .walletAdmin__title {
            @extend .titleContainerAdmin;
        }
    }

    .walletAdmin__content {
        .walletAdmin__table-container {
            overflow: hidden;
            overflow-x: auto;

            table {
                @include adminTable;
            }
        }

        .walletAdmin__rightContent {
            .walletAdmin__control {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;

                @media screen and (max-width:1200px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}