@import "src/assets/scss/base/base.scss";
@import "src/assets/scss/style.scss";

@mixin image {
	width: 20px;
	height: 20px;
	object-fit: cover;
	opacity: 1;
}

.transferRecord {
	text-align: left;
	padding: 15px;

	.transferRecord__address {
		display: flex;
		align-items: center;
		gap: 5px;

		span {
			opacity: 0.5;
		}

		img {
			@include image();
		}
	}

	.transferRecord__amount {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 5px;
		color: $green-16;

		.transferRecord__amount__title {
			color: $new-text-color-white;
			font-weight: normal;
			opacity: 0.5;
		}

		img {
			@include image();
		}

		span {
			font-weight: bold;
			opacity: 1;
		}
	}

	.transferRecord__note {
		font-size: 12px;
		opacity: 0.7;
	}
}