.historyTransferModalContent {
	.historyTransferModalContent__main {
		margin-top: 10px;
		margin-bottom: 10px;
		max-height: 50vh;
		overflow-y: auto;

	}

	.historyTransferModalContent__page {
		text-align: right;
	}
}