@import "src/assets/scss/base/base.scss";
@import "src/assets/scss/style.scss";

.tabs {
	.tabs__header {
		display: flex;
		padding-bottom: 10px;

		.tabs__header__item {
			padding: 15px;
			border-bottom: 1px solid $background-color-4;
			cursor: pointer;

			@media screen and (max-width: 300px) {
				padding: 5px;
			}

			&.active {
				border: 1px solid $background-color-4;
				border-bottom: none;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				color: $new-primary-color-6;
				font-weight: bold;
			}

			&:hover {
				border: 1px solid $background-color-4;
				border-bottom: none;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				color: $new-primary-color-6;
				font-weight: bold;
			}

			&:last-child {
				flex-grow: 1;
				pointer-events: none;
			}
		}
	}
}